/*
Copyright (c) 2003-2015, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../domains/0001/fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('../domains/0001/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../domains/0001/fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../domains/0001/fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../domains/0001/fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../domains/0001/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
    font-family: appleberryregularregular;
    src: url(../domains/0001/fonts/appleberry-webfont-webfont.woff),
        url(../domains/0001/fonts/appleberry-webfont-webfont.eot),
        url(../domains/0001/fonts/appleberry-webfont-webfont.svg),
        url(../domains/0001/fonts/appleberry-webfont-webfont.ttf)
        ;
}

body {
    background: url(../domains/0001/img/bg-body.jpg) no-repeat 0 0/cover;
    font: 16px/1.63 "Roboto","Helvetica","Arial","Helvetica Neue",sans-serif;
    color: #333;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "appleberryregularregular","Arial","Helvetica Neue","Helvetica",sans-serif;
    font-weight: 400;
    margin: 0;
}

a {
    color: #f19300;
}

a:hover {
    text-decoration: none;
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;
}


blockquote {
    border-left: 4px solid #999;
    padding-left: .5em;
    margin-left: 1.63em;
    font-weight: bold;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}


.produkt {
    margin-bottom: 89px;
    position: relative;
    text-align: left;
    letter-spacing: .7px;
    float: left;
    width: 100%;
}

.produkt h2 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 0;
}

.produkt:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 2px;
    bottom: -29px;
    background: url(../domains/0001/img/cara.png) no-repeat;
}

.produktObr, .komponentObr {
    float: left;
    height: 200px;
    width: 200px;
    margin-right: 42px;
    min-width: 300px;
}

.komponentObr img {
    width: 200px;
}

.produktObr p {
    margin: 0;
}

.produktObr img {
    vertical-align: middle;
}

.produktText {
    overflow: hidden;
}

.slozeni {
    font-size: 10px;
    line-height: 12px;
}

.ingredienceObr {
    float: left;
    margin-right: 42px;
    min-width: 300px;
}



.jednotliveIngredience p {
    margin: 0;
}

.jednotliveIngredience h3 {
    color: #2e2e2d;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 0;
}

.jednotliveIngredience h4 {
    color: #2e2e2d;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 8px;
}

.jednotliveIngredience .links {
    text-align: center;
}

.jednotliveIngredience .links a {
    font: 20px/28px "appleberryregularregular","Arial","Helvetica Neue","Helvetica",sans-serif;
    text-decoration: none;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: top;
    color: #2e2e2d;
}

.jednotliveIngredience .links a:hover {
    color: #f19300;
}




.vyrobeno .produkt {
    margin-bottom: 40px;
}

.vyrobeno .produkt:before{
    display: none;
}

.vyrobeno .produktObr {
    width: 98px;
    float: left;
    margin: 0 15px 10px 0px;
    height: auto;
    min-width: 0;
}

.vyrobeno .produkt p {
    clear: both;
    margin-top: 15px;
    line-height: 22px;
}

.vyrobeno .half:first-of-type {
    padding-right: 25px;
}

.vyrobeno .half:nth-of-type(2) {
    padding-left: 25px;
}

.vyrobeno .half h3 {
    padding-bottom: 0;
}

.vyrobeno h4 {
    font-size: 20px;
    line-height: 26px;
}

.vyrobeno .vice {
    text-align: center;
    display: block;
    font: 20px/28px "appleberryregularregular","Arial","Helvetica Neue","Helvetica",sans-serif;
    text-decoration: none;
    color: #fff;
}

.vyrobeno .vice:hover {
    color: #f19300;
}

 .li {
    letter-spacing: 0;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px 20px;
    text-align: center;
    width: 127px;
}

 .li p {
    margin: 0;
}

 .li h3 {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 10px;
}


.davkovani {
    padding: 0 0 39px 0;
}

.sloupce {
    margin-bottom: 44px;
    overflow: hidden;
}

.sloupce3 {
    box-sizing: border-box;
    float: left;
    width: 28%;
    padding: 0 20px;
}

.sloupce3 h2 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 26px;
}


.sloupce2 {
    float: left;
    width: 45%;
    padding: 16px 7% 0 0;
    margin-bottom: 0;
    text-align: left;
}

.sloupce2 + .sloupce2 {
    padding: 0 10px 0 0;
}




table {
    display: table;
    width: 60%;
    border-collapse: collapse;
}

main table p {
    margin:0; 
}

td {
    display: table-cell;
    padding: 10px 5px 8px;
    vertical-align: middle;
    border: 1px solid #fff;
    border-width: 0 0 1px;
    text-align: center;
}

table td + td {
    border-width: 0 0 1px 1px;
    padding: 7px 5px 6px;
}

table tr:last-child td {
    border-width: 0 0 0px 1px;
}

table tr:last-child td:first-of-type {
    border-width: 0;
}


.half {
    width: 50%;
    float: left;
    text-align: left;
}

.half h3 {
    font-size: 30px;
    padding-bottom: 15px;
}


