@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.center{
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

@media (min-width: 1500px) {
  body {
    font-size: 1.3rem;
  }
}

img {
  max-width: 100%;
  display: block;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

@media (min-width: 1500px) {
  p {
    margin-bottom: 2rem;
  }
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
}

@media (min-width: 960px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1500px) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2rem;
}

@media (min-width: 960px) {
  h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 1500px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

ul {
  border-left: 4px solid #b1cb20;
  list-style: none;
  padding: 1rem 0 1rem 1rem
}

li {
  margin-bottom: .5rem;
}

a {
  color: #b1cb20;
}

a:hover {
  text-decoration: none;
}

.btn {
  display: inline-flex;
  padding: .8rem 1.5rem;
  text-decoration: none;
  color: #000;
  background: #b1cb20;
  transition: all .3s;
  font-weight: 600;
  font-size: 1rem;
}

.btn:hover {
  background: #c8e03e;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}

header {
  padding: 1rem 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1500px) {
  .logo img {
    height: 55px;
  }
}

.navigation button {
  width: 35px;
  height: 35px;
  background: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

@media (min-width: 960px) {
  .navigation button {
    display: none;
  }
}

nav {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: #4d555a;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 960px) {
  nav {
    position: static;
    width: auto;
    height: auto;
    background: none;
    display: block !important;
  }
  nav ul {
    display: flex;
  }
}

@media (min-width: 1500px) {
  nav {
    font-size: 1.5rem;
  }
}

nav button svg {
  fill: #fff;
}

nav ul {
  border: 0;
  padding: 0;
}

nav a, nav span {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: .5rem;
}

nav a.active, nav span {
  color: #b1cb20;
}

nav a:hover{
  color: #7a7a7a
}

nav a.active, nav span {
  font-weight: 600;
}

@media (min-width: 960px) {
  nav a {
    color: #b5b5b5;
  }
}

@media (min-width: 960px) {
  nav li {
    display: flex;
  }
  nav li::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 100%;
    background: #b5b5b5;
    margin: 0 10px;
  }
  nav li:last-child::after {
    display: none;
  }
}

.languages {
  margin-right: 3rem;
  font-size: 1rem;
}

@media (min-width: 960px) {
  .languages {
    margin: 0;
  }
}

.languages ul {
  border: 0;
  padding: 0;
  display: flex;
}

.languages a, .languages span {
  color: #4d555a;
  display: block;
  font-weight: 600;
  padding: .5rem;
  text-decoration: none;
  margin: 0 3px;
}

.languages a {
  background: #eeeeee;
}

.languages span {
  background: #b1cb20;
}

.swiper {
  width: 100%;
}

.swiper img {
  display: block;
  margin: auto;
}

.headline {
  background: #4d555a;
  text-align: center;
  color: #fff;
  padding: 1rem;
}

@media (min-width: 960px) {
  .headline {
    padding: 2rem 0;
  }
}

.row {
  /*border-top: 5px solid #4d555a;*/
  padding-bottom: 2rem;
}

@media (min-width: 960px) {
  .row {
    display: flex;
    padding-bottom: 0;
    border: 0;
  }
}

.row-odd {
  background: #f5f5f5;
}

@media (min-width: 960px) {
  .row-even {
    flex-direction: row-reverse;
  }
  .row-even .col-text {
    text-align: right;
  }
  .row-even .col-text ul {
    border-left: 0;
    border-right: 4px solid #b1cb20;
    padding-right: 1rem;
  }
  .row-even .col-text h2, .row-even .col-text h3, .row-even .col-text p, .row-even .col-text ul {
    margin-left: auto;
  }
}

.row-full .col-text {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.col-text {
  padding: 1rem;
}

@media (min-width: 768px) {
  .col-text {
    padding: 2rem;
  }
}

.col-text h2, .col-text h3, .col-text p, .col-text ul {
  max-width: 480px;
}

@media (min-width: 960px) {
  .col-text {
    padding: 4rem;
  }
}

.col-text ul {
  margin-bottom: 2rem;
  /*font-weight: bold;*/
}

@media (min-width: 960px) {
  .col-img {
    position: relative;
  }
  .col-img img {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 960px) and (min-width: 1500px) {
  .col-img img {
    position: static;
  }
}

@media (min-width: 960px) {
  .col-img, .col-text {
    width: 50%;
    flex-shrink: 0;
  }
}

@media (min-width: 960px) {
  .lifecycle {
    padding: 4rem;
  }
}

.lifecycle .container {
  max-width: 1300px;
}

.table-container {
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: .5rem;
}

td:first-child {
  text-align: left;
  white-space: nowrap;
}

td img {
  display: inline-block;
  min-width: 16px;
}

tr {
  width: 100%;
}

tr:nth-child(even) td {
  background: #eeeeee;
}

th {
  font-weight: 300;
  white-space: nowrap;
  text-align: left;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: .5rem;
}

.references {
  background: #4d555a;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .references {
    padding: 2rem;
  }
}

@media (min-width: 960px) {
  .references {
    padding: 4rem;
  }
}

.references h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border: 0;
  max-width: 1100px;
  margin: 0 auto;
}

.gallery li {
  padding: .5rem;
  width: 50%;
}

@media (min-width: 960px) {
  .gallery li {
    padding: 1rem;
  }
}

.gallery li p {
  padding: .5rem 1rem;
  color: #fff;
  margin-bottom: 0;
  font-size: .85rem;
  line-height: 1.5;
}

@media (min-width: 1500px) {
  .gallery li p {
    font-size: 1.3rem;
  }
}

.gallery li a {
  display: block;
  position: relative;
}

/*
.gallery li a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(177, 203, 32, 0.8) url(../img/search.svg) no-repeat center;
  background-size: 50px;
  opacity: 0;
  transition: opacity .3s;
}


.gallery li a:hover::after {
  opacity: .8;
}
*/

.studies {
  padding: 2rem 0;
  background: #ededed;
}

@media (min-width: 768px) {
  .studies {
    padding: 2rem;
  }
}

@media (min-width: 960px) {
  .studies {
    padding: 4rem;
  }
}

.studies h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.videos li {
  padding: .5rem;
  width: 50%;
}

@media (min-width: 960px) {
  .videos li {
    padding: 1rem;
  }
}

.videos li.full-video {
  width: 100%;
}

.videos li p {
  padding: .5rem 1rem;
  margin-bottom: 0;
  font-size: .85rem;
}

@media (min-width: 1500px) {
  .videos li p {
    font-size: 1.3rem;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact .contact-text {
  padding: 2rem;
}

.contact .contact-text h2 {
  color: #b1cb20;
  margin-bottom: 2rem;
}

.contact .contact-text h3, .contact .contact-text p {
  margin: 0;
}

.contact .contact-text p{
  margin-bottom: 2rem;
}

.contact .contact-text strong{
  font-weight: 600;
}

.contact .contact-text div {
  margin-bottom: 1rem;
}

.contact .contact-text footer {
  margin-top: 2rem;
  border-top: 2px solid #4d555a;
  padding: 1rem 0;
}

.contact .contact-text footer a {
  color: #b1cb20;
  margin-right: 1rem;
  font-weight: 600;
}

.contact .contact-map {
  background: #4d555a;
}

.contact .contact-map img {
  width: 100%;
}

@media (min-width: 960px) {
  .contact {
    display: flex;
  }
  .contact .contact-text, .contact .contact-map {
    width: 50%;
    flex-shrink: 0;
  }
  .contact .contact-text {
    max-width: 650px;
    margin-left: auto;
    padding-right: 2rem;
  }
}

@media (min-width: 960px) and (min-width: 1500px) {
  .contact .contact-text {
    padding-right: 3rem;
  }
}

.swiper-pagination {
  text-align: left;
  padding-left: 1rem;
}

.swiper-pagination-bullet {
  border-radius: 0;
  opacity: 1;
  background: #fff;
  width: 15px;
  height: 15px;
}

@media (max-width: 680px) {
  .swiper-pagination {
    display: none;
  }
}




.swiper-pagination-bullet-active {
  background: #b1cb20;
}
/*# sourceMappingURL=main.css.map */

.row-full .col-text h2, 
.row-full .col-text h3, 
.row-full .col-text p, 
.row-full .col-text ul{
  max-width: 100%;
}

@media (min-width: 960px)
{
  .col-text img{
    width: 85%;
    margin: 0 auto;
  }
}


