 /*!
 * jQuery UI Stars v2.0.3
 * http://plugins.jquery.com/project/Star_Rating_widget
 *
 * Copyright (c) 2009 Orkan (orkans@gmail.com)
 * Dual licensed under the MIT and GPL licenses.
 * http://docs.jquery.com/License
 *
 * $Rev: 102 $
 * $Date:: 2009-06-07 #$
 * $Build: 23 (2009-06-07)
 *
 * Theme: Crystal
 *
 */
.ui-stars-star,
.ui-stars-cancel {
	float: left;
	display: block;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer;
}
.ui-stars-star a,
.ui-stars-cancel a {
	width: 28px;
	height: 26px;
	display: block;
	position: relative;
	background: url(img/crystal-stars.png) no-repeat 0 0;
}
.ui-stars-star a {
	background-position: 0 -56px;
}
.ui-stars-star-on a {
	background-position: 0 -84px;
}
.ui-stars-star-hover a {
	background-position: 0 -112px;
}
.ui-stars-cancel-hover a {
	background-position: 0 -28px;
}
.ui-stars-star-disabled,
.ui-stars-star-disabled a,
.ui-stars-cancel-disabled a {
	cursor: default !important;
}

#container { position:relative; height:30px; }
#container > * { position:absolute; height:30px; left:0; top:0; z-index: 1; overflow:hidden; }
#loader { display:none; padding-left:20px; background:url(img/loader.gif) no-repeat center left; }
