
#ine_panel .ine_cleaner {
    clear: both; 
    font-size: 0!important; 
    height: 0px; 
    line-height: 0px;
    }

#ine_panel * {
    color: white !important;
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 11px; 
    font-family: Arial;


}

#ine_panel{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 142px;
    background: #21242a;
    -webkit-box-shadow: 0px 10px 11px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 11px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 11px -6px rgba(0,0,0,0.75);
}

#ine_panel_in{
    position: relative;
    padding: 0;
}

#ine_panel #ine_logo{
    position: absolute;
    top: 80px;
    right: 10px;  
}

#ine_panel #ine_logo img{
    width: 120px;
}

#ine_panel .ine_info *{
    font-size: 11px;
    line-height: 16px;
}

#ine_panel .ine_info strong{
    font-weight: bold;
}


#ine_panel h2{
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0 4px 0;
    text-transform: uppercase;
}

#ine_panel h2 span{
    color: #f1c40f!important;
    display: none;
}

#ine_panel .ine_box{
    float: left;
    padding: 15px 15px 0 15px;
    border-left: 1px solid #363636;
}

#ine_panel.hide_panel .ine_box{
    padding: 5px 15px;
}

#ine_position_panel.ine_box{
    border: 0;
}

#ine_position_panel{
    /*background: #2f333a;*/
    position: absolute;
    top: 0;
    right: 0;
}

#ine_panel .ine_info{
    
}

.ine_nodisplay{
    display: none;
}

#ine_panel .ine_tools{
    background: #ccc;
    margin: 5px 0 0 0 ;
}

#ine_panel .ine_tools a{
    display: block;
    width: 70px;
    height: 70px;
    float: left;
    font-size: 11px;
    text-decoration: none;
    text-align:  center;
    padding: 0;
    margin: 0 1px;
    
}

#ine_panel .ine_tools a:hover, #ine_panel .ine_tools a:hover span{
    color: #f1c40f !important;
}

#ine_panel .ine_tools a:hover span {
    color: #f1c40f !important;
}

#ine_panel .ine_tools a.ine_active{
    color: #21242a !important;
    background: #f1c40f;
    border-radius: 5px 5px 0 0;
}

#ine_panel .ine_tools a.ine_active:hover{
    color: #21242a !important; 
}

#ine_panel .ine_tools a.ine_active span{
    color: #21242a !important
}


#ine_panel .fa{
    font-family:'FontAwesome' !important;
}

#ine_panel .ine_stav{
    font-size: 12px;
    text-decoration: none;
}

#ine_panel .ine_green{
    color: #a6fc51 !important;
}

#ine_panel .ine_red{
    color: #fc7551 !important;
}

#ine_panel .ine_icon span{
    font-size: 25px;
    font-family:'FontAwesome';
    padding: 5px 0;
}

#ine_panel .ine_icon.ine_disabled, #ine_panel .ine_icon.ine_disabled span{
    color: #666 !important;
}

#ine_panel .ine_icon.ine_disabled:hover, #ine_panel .ine_icon.ine_disabled:hover span{
    color: #666 !important;
    cursor: default
}

#ine_panel .ine_icon_mini{
    /*background: url(../img/sipka_nahoru.png) center center no-repeat;*/
    font-size: 18px;
    font-family:'FontAwesome';
    color: white !important;
    text-decoration: none;
    margin-left:  5px;
}

#ine_panel .ine_icon_mini:hover{
    color: #f1c40f !important;
}

#ine_panel #ine_user_panel.ine_box{
    border: none
}

/*
#ine_panel .ine_icon_mini.ine_icon_sipka_nahoru{
    background-image: url(../img/sipka_nahoru.png);
}



#ine_panel .ine_icon_mini.ine_icon_sipka_dolu{
    background-image: url(../img/sipka_dolu.png);
}



#ine_panel .ine_icon_mini.ine_icon_sipka_vpravo{
    background-image: url(../img/sipka_vpravo.png);
}
#ine_panel .ine_icon_mini.ine_icon_sipka_vlevo{
    background-image: url(../img/sipka_vlevo.png);
}
#ine_panel .ine_icon_mini.ine_icon_skryt{
    background-image: url(../img/icon_skryt.png);
}
*/

#ine_panel.position_top .ine_icon_mini#position_bottom{
    display: none;
}

#ine_panel.position_bottom .ine_icon_mini#position_top{
    display: none;
}


#ine_panel .ine_icon_mini#show_panel{
    display: none;
}

#ine_panel.hide_panel .ine_icon_mini#show_panel{
    display: inline;
}

#ine_panel .ine_icon_mini#hide_panel{
    display: inline;
}

#ine_panel.hide_panel .ine_icon_mini#hide_panel{
    display: none;
}



#ine_panel.position_bottom{
    top: auto;
    bottom: 0;
    -webkit-box-shadow: 0px -10px 11px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -10px 11px -6px rgba(0,0,0,0.75);
box-shadow: 0px -10px 11px -6px rgba(0,0,0,0.75);
}

#ine_panel.position_top{
    top: 0;
    bottom: auto;
}


/* skryty panel */
#ine_panel.hide_panel h2 span{
    display: inline;
}

#ine_panel.hide_panel .ine_info,
#ine_panel.hide_panel .ine_tools{
    display: none;
}

#ine_panel.hide_panel #ine_logo{
    top: 10px;
    right: 100px;
}

#ine_panel.hide_panel #ine_position_panel.ine_box{
    top: 10px;
}

#ine_panel.hide_panel .ine_icon_skryt{
    float: right;
}
#ine_panel.hide_panel #ine_logo img{
    width: 60px;
}

#ine_panel.hide_panel .ine_icon_mini{
    float: left;
    padding: 0 7px 0 0 ;
}

#ine_panel.hide_panel #ine_panel_in{
    padding: 10px 10px 5px 0;
}

#ine_panel.position_bottom.hide_panel{
    
}

#ine_panel.position_bottom.hide_panel #ine_panel_in{
    padding: 10px;
}

#ine_panel.position_bottom.hide_panel #ine_logo{
    top: 13px;
}

#ine_panel.position_bottom.hide_panel #ine_user_panel{
    border: none;
}


#ine_loader{
    display: none;
    position: relative;
    width: 100%;
    height: 400px;
    background: url(../img/loader.gif) center center no-repeat;
}

#ine_loader p{
    color: white;
    font-size: 25px !important;
    position: absolute;
    text-align: center;
    bottom: 80px;
    left: 0;
    width: 100%;
}


/* vyhledavani */
#ine_vyhledavani{
    position: absolute;
    top: 20px;
    right: 10px;
    
}

#ine_vyhledavani input{
    border: 1px solid #ccc;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
}

#ine_panel.position_top.hide_panel #ine_vyhledavani
{
    position: absolute;
    top: 5px;
    bottom: auto;
    right: 100px;
}

#ine_panel.position_bottom.hide_panel #ine_vyhledavani
{
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 100px;
}

.ine_sl1{
    width: 25%;
    float: left;
}

.ine_sl2{
    width: 75%;
    float: right;
}


#ine_content{
    padding: 20px 40px;
}

#ine_panel #ine_content p, #ine_panel #ine_content p *{
    color: #21242a !important;
    font-size: 12px;
}

#ine_zalohy h3{
    padding-bottom: 20px;
}

#ine_panel #ine_zalohy *{
    color: #21242a !important;
    font-size: 12px;
}

#ine_panel .ine_zaloha{
    padding: 30px;
    overflow: auto;
    background: white;
    display: none;
    border: 1px solid #d3a900;
    border-left: none;
    -webkit-box-shadow: 5px 0px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 0px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 0px 10px -5px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

#ine_panel .ine_zaloha p, #ine_panel .ine_zaloha strong{
    line-height: 22px;
}

#ine_panel #ine_zalohy .ine_sl1 ul{
    list-style: none;
}

#ine_panel #ine_zalohy .ine_sl1 ul li a{
    line-height: 35px;
    font-size: 12px;
    display: block;
    padding-left: 10px;
    
}

#ine_panel #ine_zalohy .ine_sl1 ul li a.ine_active{
    background: white;
    border: 1px solid #d3a900;
    border-right: none;
    border-radius: 5px 0 0 5px;
    text-decoration: none;
    -webkit-box-shadow: 5px 0px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 0px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 0px 10px -5px rgba(0,0,0,0.75);
}

#ine_panel #ine_zalohy .ine_sl2{
    display: none;
}


/*

formulare

*/

#ine_panel #ine_form{
    display: none;
    position: relative;
    background: #f1c40f;
    width: 100%;
    overflow-y: auto;
    -webkit-box-shadow: 0px 10px 11px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 11px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 11px -6px rgba(0,0,0,0.75);
}

#ine_panel #ine_form form{
    /*padding: 20px 40px;*/
}

#ine_panel #ine_form form *{
    font-size: 12px;
    font-family: Arial;
    color: #21242a !important;
}

#ine_panel #ine_form h3{
    text-transform: uppercase;
    font-size: 16px;
}

#ine_panel #ine_form .tool_button, #ine_panel #ine_zalohy .tool_button{
    background: #333 none repeat scroll 0 0;
    color: white !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    text-align: right;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    text-align: center;
    display: inline-block;
}


#ine_panel #ine_system_message{
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    
}

#ine_panel  #ine_system_message p{
    width: 25%;
    min-width: 200px;
    font-size:  16px;
    margin: 0 auto;
    background: white;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#ine_panel  #ine_system_message p.ine_error{
    background: #ff5629;
}

#ine_panel  #ine_system_message p.ine_ok{
    background: #69d400 
}

#ine_panel  #ine_system_message p.ine_warning{
    border: 1px solid #ff8a00;
    background: #ff8a00
}


#ine_panel #ine_content .ine_message, #ine_panel #ine_content .ine_message *{
    font-size: 14px;
}

/*
#ine_panel #ine_form .tool_button:hover{
    background: #f1c40f;
}
*/

#ine_form form .ui-dialog-titlebar{
    cursor: auto;
}

#ine_form form .select, 
#ine_form form .input,
#ine_form form textarea
{
    width: 300px;
    padding: 5px;
    border: 1px solid #d3a900;
}

#ine_form form .input_box{
    margin-bottom: 10px;
}

#ine_form table th{
    width: 150px;
    text-align: right;
    font-weight: normal;
    padding: 10px 5px 5px 5px;
    vertical-align: top;
}

#ine_form table td{
    padding: 5px;
}

#ine_form table.table2{
    margin: 10px 0;
}

#ine_form span.jtip {
    display: none;
    /*
    background: url("../img/icon_help.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: help !important;
    line-height: 20px;
    margin: 0;
    padding: 2px 7px;
    text-decoration: none;
    */
}

#ine_panel #ine_form #ine_find_input{
    text-align: left;
    /*margin: 0 auto;*/
    padding: 10px 20px;
    font-size: 25px;
    color: #21242a;
    width: 30%;
    min-width: 100px;
    max-width: 400px;
    border: 1px solid #d3a900;
    border-radius:  5px;
}

#ine_panel #ine_form #ine_find_form{
    /*text-align: center;*/
    padding:  20px 0;
    
}

#ine_panel .ine_result{
    padding: 7px 40px 7px 20px;
    background: #fbd021;
    margin: 1px 0 0 0 ;
    border-radius:  5px;
    position: relative;
}

#ine_panel .ine_result .search-term{
    background: #a6fc51;
    display: inline;
}



#ine_panel .ine_result:hover{
    background: #ffe169;
}

#ine_panel .ine_result, #ine_panel .ine_result *{
    display: block;
    text-decoration: none;
}

#ine_panel .ine_result em *{
    display: inline !important;
}

#ine_panel #ine_form .ine_result strong{
    font-size: 18px;
}

#ine_panel #ine_form  #ine_find_result em, #ine_panel #ine_form  #ine_find_result em span{
    color: #725b00 !important;
}

#ine_panel #ine_form #ine_find_result .ine_sipka{
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 30px;
    color: #725b00 !important
}





.ine_napoveda{
    z-index: 10000 !important;
    background: #e0e0e0;
}

.ine_napoveda p{
    font-size: 11px !important;
    line-height: 14px !important
}

#ine_confirm{
    display: none;
}
#ine_confirm *{
    line-height: 18px;
    font-size: 12px;
}

#ine_confirm span{
    float:left; 
    margin:0 10px 25px 0;
}


/* tabulka */
#ine_form table.ine_table{
    border-collapse: collapse;
}

#ine_form table.ine_table tr th{
    width: auto;
    text-align: left;
    font-weight: bold;
}

#ine_form table.ine_table tr th:first-child{
    width: 40px;
}

#ine_form input.req, #ine_form textarea.req {
    background: url("../img/req.gif") no-repeat scroll right top #FFFFFF;
}



.ine_nahled img{
    max-width: 300px;
    max-height: 300px;
}

#ine_form .ine_fotka{
    height: 185px;
    width:  160px;
    margin: 3px;
    padding: 2px;
    cursor: move;
    float: left;
    text-align: center;
    border: 1px solid white;
}

#ine_form .ine_fotka img{
    margin:  0 auto;
    max-width: 160px;
    max-height: 90px;
    border-radius: 3px;
}

#ine_form .ine_fotka textarea{
    height: 40px;
    width: 150px;
    margin-top:  2px;
}

#ine_form .ine_fotka input{
    width: 150px;
}

#ine_form .ine_fotka a{
    color: black;
    font-size: 11px;
}

#ine_form .ui-state-highlight { 
    height: 185px; 
    width: 160px; 
    float: left;
    margin: 3px; 
    border: 1px dotted gray; 
    border-radius: 3px;
    }

#ine_form .ui-progressbar {
    position: relative;
}

#ine_form .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    display: none;
}

#ine_form #progressbar .ui-progressbar-value {
    background-color: #7c0000 !important;
}

#ine_form .ine_progresbar_box{
    display: none;
}

#ine_form .deleted{
    background: #FFC5C5;
    border: 1px solid red;
}

/*

stylovani UI 

*/

 .ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 25%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 70%;}




