/* formatovani prihlasovaci stranky */
* {
  border: none;
  margin: 0;
  padding: 0;	
  font-family: "tahoma";
  font-size:  13px;
  color: #404040;
}


#login{
    /*background: #1f1f1f;*/
    background: #222 url("login/bg3.png") top left repeat;
}

#header{
    height: 200px;
}


#login #login-form{
    
    margin: 0 auto;
    width: 400px;
    padding-bottom: 70px;
    background: url(login/slider-shadow-left.png) bottom left no-repeat;
}

#login-form-in{
    padding: 20px;
    color: #e4e4e4;
    background: white;
    border: 1px solid #333;
}

#login #login-form input.text{
    padding: 5px;
    font-size: 14px;
    width: 170px;
    padding: 7px;
    border: 1px solid #ccc
}

#login table th{
    color: #333;
    padding: 10px;
    text-align: right;
    font-size: 13px;
    font-weight: normal
}

#login table td.tlacitko{
    text-align: right;
    padding-top: 10px;
}

#login td.tlacitko .submit{
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: white;
    background: #333;
}

#login td.tlacitko .submit:hover{
    background: #f1c40f;
}

.ok, .error, .warning{
    padding: 5px;
    height: 40px;    
    
}

.message .error ul li{
    color: red;
}


.message .ok ul li{
    color: green;
}

.error{
	/*border: 1px solid #D42929;*/
	background: /*#FFC5C5*/ url('img/message_error.png') 10px 10px no-repeat;
}

.ok{
	/*border: 1px solid green;*/
	background: /*#E8FFDF*/ url('img/message_ok.png') 10px 10px no-repeat;
}

.warning{
	/*border: 1px solid #F57600;*/
	background: /*#FCEC81*/ url('img/message_warning.png') 10px 10px no-repeat;
}


.message ul{
    list-style: none inside none;
    font-size: 12px;
    padding-left: 50px; 
    line-height: 40px;
}

.message ul li{
    font-size: 11px;
}


div#logo{
    margin: 40px auto;
    margin-bottom: 40px;
    background: url(login/logo2.png) top left no-repeat;
    width: 235px;
    height: 115px;
}


h2{
    font-size: 18px;
    /*font-weight: normal;*/
    color: #333;
    padding-bottom: 20px;
    /*text-transform: uppercase*/
    }


#footer{
    height: 100px;
    position: relative;
}

a#logo_profiwebik{
    display: block;
    margin: 20px auto;
    background: url(login/logo_profiwebik_cb.png) top left no-repeat;
    width: 150px;
    height: 28px;
}
