BODY, DIV, TABLE, FORM, CAPTION, IMG, H1, H2, H3, H4, P, HR, INPUT, SELECT, MAP, BUTTON, TEXTAREA{
  border: none;
  margin: 0;
  padding: 0;	
  font-family: "tahoma";
  font-size:  12px;
  color: white;
}


body{
    background: #222 url("login/bg3.png") top left repeat;
    }

.iframe{
	border: 0;
}

a {
    color: #a1a1a0;
}

h1, h2{
    color: #dededd
}

/* obecne tridy */

.cleaner {
	display: block;
	height: 0;
	clear: both;
	font-size: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
	}	
  
.nodisplay{
    display:none !important;
}

table.table tr td.tleft {
    text-align: left;
}

#content table.table tr td ul{
    margin: 0;
    padding: 2px 0 13px 15px;
}

#content table.table tr td ul li{
    color: #363636;
    font-size: 11px;
}
    
    
img{
    max-width: 100%;

    margin: 0 3px;
}
img.mini-icon{
    width: 13px;
}


span.jtip{
    padding: 3px;
    margin: 0;
    cursor: help !important;
    /*background: url(icon/icon_help.png) center center no-repeat;*/
    text-decoration: none;
    text-align: center;
    color: #888;
    /*background: #888;*/
    /*border: 1px solid #888;*/
    
}

.stav1{
    color: green;
    font-size: 1em !important;
}

.stav0{
    color: red;
    font-size: 1em !important;
}

.stav2{
    color: orange;
    font-size: 1em !important;
}

i.stav0, i.stav1, i.stav2{
    font-size: 1em !important;
}



/* header */
#header{
    display: block;
    height: 60px;
    position: relative;
} 


/* hlavni menu */ 
 
#menu{
    display: block;
    width: 100%;
    background: #21242a url(img2/logo.png) 10px center no-repeat;
}

#menuIn{
    padding-left: 18%;
}

#menu a{
    display: block;
    width: 60px;
    float: left;
    text-align: center;
    padding: 15px 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

#menu a span{
    padding-bottom: 5px;
}




#menu  a:hover, #menu  a:hover span{
    color: #aaa;
}


#menu a{
    color: white;
    text-decoration: none;
    padding: 15px 5px;
    font-size: 11px;
}

#menu .aktivni, #menu .aktivni *, #menu .aktivni:hover, #menu .aktivni:hover *{
    color: #f1c40f;
}


#main{
    width: 100%;
}

#content{
    width:82%;
    float: right;
    
}

#contentIn{
    padding: 20px 25px 150px 10px;
    
}

#content h1{
    font-size: 20px;
    color: white;
    margin-bottom: 8px;
    text-transform: uppercase;
}

#content h2{
    font-size: 15px;
    color: white;
    margin: 15px 0 2px 0;
}

#content p{
    font-size: 12px;
    color: white;
    line-height: 20px;
    margin-bottom: 10px;
}

#content span.popisek p{
    color: white;
}

#content ul{
    font-size: 12px;
    color: #dededd;
    line-height: 20px;
}

/* panel */
#panel{
    width: 18%;
    float: left;
    
}

#panelIn{
    padding: 20px 20px 60px 0px;
    text-align: right;
}

#panel h2{
    font-size: 16px;
    color: #dededd;
    display: block;
    text-align: left;
    padding: 0 0 10px 10px;
    border-bottom:  2px solid #333;
    margin-bottom: 5px;
}



#panel ul{
    list-style: none;
    margin-bottom: 40px;
    padding: 0;
    display: block;
    margin-top: 0;
}

#panel ul li{
    display: block;
    
}

#panel ul li a{
    color: white;
    text-decoration: none;
    display: block;
    line-height: 35px;
    height: 35px;
    padding-right: 5px;
    background: #333;
    margin-bottom: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    
}

#panel ul li a:hover{
    color: white;
    text-decoration: none;
    
}


#panel ul li a.aktivni{
    color: white;
    text-decoration: none;
    background: #f1c40f;
}

#panelIn div{
    padding: 0 0 20px 0;
    text-align: left;
    padding-left: 10px;
}

#panelIn div *{
    color: white;
}

#panelIn div a, #panelIn div span{
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    background: #333;
    margin-right: 3px;
    margin-top: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

#panelIn div a span{
    background: none;
}

#panelIn div a:hover{
    background: #f1c40f
}


#panelIn div b{
    color: #f1c40f
}

#panelIn div span{
    background: #f1c40f
}

#podmenu p{
    color: #DEDEDD;
}

#podmenu div{
    margin: 10px 0;
}





/* tabulka seznamu */

table.table{
    width: 100%;
    text-align: center;
    background: white;
    color: #333;
    font-size: 11px;
    border-collapse:collapse;
    margin-top: 5px;
}

table.table tr td{
    padding: 5px;
    text-align: center;
}
table.table tr{
    border-bottom: 1px solid #DEDEDD;
    height: 40px;
}

table.table tr.light td{
    background: #fef9e7
}

table.table tr.deleted, table.table td.deleted, .deleted{
    background: #FFC5C5 !important;
}
table.table tr.saved, table.table td.saved, .saved{
    background: #e2fcb6;
}

table.table tr.exchange_to, table.table tr.exchange_to td, table.table td.exchange_to, .exchange_to{
    background: #b0e1ff !important;
}

table.table tr.exchange_from, table.table tr.exchange_from td, table.table td.exchange_from, .exchange_from{
    background: #c5fb89 !important;
}




table.table tr.light td:first-child, .image_box .light{
    /*background: #efefef;*/
    /*border-left: 10px solid #f1c40f;*/
    background: #fef9e7 url(img2/light.png) top left repeat-y;
}



table.table tr.light tr{
    background: none;
}

table.table tr td.exchange_up{
    background: url(icon/icon_exchange_up.png) center right no-repeat;
}

table.table tr td.exchange_down{
    background: url(icon/icon_exchange_down.png) center right no-repeat;
}

table.table tr th{
    padding: 5px;
    height: 40px;
    /*background: url(img2/bg.png) top left repeat;*/
    background: #21242a;
    border-bottom: 1px solid black;
    color: #888;
}

table.table a{
    color: #333;
}


table.table .akce a, table.table .posun a, table.table .akce em, table.table .posun em{
    margin: 0 2px;
}


table.table .posun a span, table.table .posun em span, table.table .akce a span, table.table .akce em span{
    padding: 5px;
    background: #333;
    color: white;
    font-size: 1.5em;
}

table.table .akce em span, table.table .posun em span{
    background: #aaa;
}

table.table .akce a:hover span, table.table .posun a:hover span{
    background: #f1c40f;
}

table.table .akce{
    text-align: right;
}

/*
table.table .posun a:hover span{
    color: #f1c40f;
}
*/


table#tNastaveni tr.sekce{
    
    font-size: 12px;
    font-weight: bold;
    height: 40px;
}

table#tNastaveni tr.sekce td.akce{
    
    vertical-align: bottom;
}

table#tNastaveni tr.sekce td.akce a span{
    
    /*
    padding: 10px;
    font-size: 2em;
    */
    background: #888
}

table#tNastaveni tr td span.barva{
    display: block;
    height: 20px;
    width: 20px;
    margin: 0 auto;
    border: 1px solid black;
}

table#tNastaveni tr td.nazev-sekce{
    padding-left: 30px;
    color: #888;
    padding-top: 60px;
    font-size: 18px;
}

table#tNastaveni span.popisek{
    color: #888;
    font-size: 11px;
}


/* tlacitka */


.horni-tlacitka{
    padding-top: 10px;
}

.tools-panel .horni-tlacitka
{
    bottom: 0;
    position: absolute;
    right: 0;
}


div.tlacitko{
    display: block;
    /*width: 161px;*/
    height: 40px;
    text-align: right;  
    float: right;
    margin: 0 2px;
}

div.tlacitko a, div.tlacitko span{
    display: block;    
    color: white;
    padding: 0 10px;
    line-height: 40px; 
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background: #333;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

div.tlacitko a:hover{
    background: #f1c40f;
}

div.tlacitko.content{
    background: url(img/content.png) top left no-repeat;
}

div.tlacitko.setting{
    background: url(img/settings.png) top left no-repeat;
}

div.tlacitko.new{
    background: url(img/add.png) top left no-repeat;
}

div.tlacitko.back{
    background: url(img/back.png) top left no-repeat;
}

div.tlacitko.preview{
    background: url(img/preview.png) top left no-repeat;
}

div.tlacitko.statistics{
    background: url(img/statistics.png) top left no-repeat;
}

div.tlacitko.import{
    background: url(img/import.png) top left no-repeat;
}

div.tlacitko.export{
    background: url(img/export.png) top left no-repeat;
}

div.tlacitko.delete{
    background: url(img/delete.png) top left no-repeat;
}
div.dolni-tlacitka{
    float: right;
    line-height: 83px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}

div.dolni-tlacitka select{
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
}

div.dolni-tlacitka select option{
    /*line-height: 40px;
    height: 40px;*/
    padding: 10px 0;
}

div.dolni-tlacitka input, div.dolni-tlacitka button{
    display: block;    
    color: white;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;  
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    /*background: url(img/save.png) top left no-repeat;*/
    background: #333;
    cursor: pointer;
    /*margin: 20px 0 20px 5px;*/
    text-align: right;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    float: left;
    margin: 0 2px;
}

div.dolni-tlacitka input:hover, div.dolni-tlacitka button:hover
{
    background: #f1c40f;
}

input.save_button{
    background: url(img/save.png) top left no-repeat;
}
input.delete_button{
    background: url(img/delete.png) top left no-repeat !important;
}
input.statistics_button{
    background: url(img/statistics.png) top left no-repeat !important;
}

div.dolni-tlacitka input.disabled, div.dolni-tlacitka button.disabled{
    color: gray;
    cursor: default
}
input.save_button.disabled, button.save_button.disabled{
    background: url(img/save_disabled.png) top left no-repeat;
}
input.delete_button.disabled, button.delete_button.disabled{
    background: url(img/delete_disabled.png) top left no-repeat !important;
}
input.statistics_button.disabled, button.statistics_button.disabled{
    background: url(img/statistics_disabled.png) top left no-repeat !important;
}


/* formularove prvky */
.input, .select{
    padding:  5px;
    
}



.multiselect{
    height: 250px;
    width: 700px !important;
}

/* vyhledavaci filtr */

.tools-panel{
    position: relative;
    margin-bottom: 5px;
}

.we-tools .tools-panel .filter input{
    width:  100%;
}

.we-tools .tools-panel .filter th{
    vertical-align: middle;
}

.filter, .filter2, .filter3{
    background: url(img2/bg.png) top left repeat;
    float: left;
    width:  321px;
    color: #363636;
    border-bottom: 1px solid #3a3a3a;
    border-right: 1px solid #3a3a3a;
}


.filter table, .filter2 table, .filter3 table{
    margin: 5px;
}

.filter .input, .filter2 .input, .filter3 .input{
    width: 200px;
    color: #363636;
}

.filter .select, .filter2 .select, .filter3 .select{width: 210px}

.filter table th, .filter2 table th, .filter3 table th{
    width: 80px;
    color: white;
    text-align: right;
    font-weight: normal;
}



/* formular - detail */

table.table2{
    width: 100%;
    font-size: 12px;
    padding: 10px 0 20px 0;
    background: url(img2/bg.png) top left repeat;
    margin-bottom: 30px;
    border-top:  1px solid #888;
    border-bottom:  1px solid #888;
}

table.table2 a.tlacitko{
    color: white;
    padding: 5px;
    background: #3c3c3c;
    text-decoration: none;
    margin-left: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

table.table2 a.tlacitko:hover{
    background: #f1c40f;
}

table.table2 a{
    color: #363636;
}

table.table2 th{
    width: 20%;
    vertical-align: top;
    padding: 5px;
    text-align: right;
    color: white;
}

table.table2 .table th
{
    width: auto;
}

table.table2 td{
    padding: 5px;
    color: white; 
}

table.table2 .input, table.table2 .select{
    width: 250px;
    color: #333;
    border: none;
}

table.table2 textarea{
    color: #333;
    /*border: 1px solid #707070;*/
    border: none;
}

table.table2 .checkbox{
    margin: 0px 5px 0px 0;
}

table.table2 .checkbox-div{
    padding: 3px 0;
}

table.table2 .radio{
    margin: 7px;
}


input.kratky{
    width: 100px !important;
}

table.table2 input.kratky, table.table2 select.kratky{
    width: 100px;
}

table.table2 .table tr td{
    color: #333;
}



select.kratky{
    width: 110px !important
}

select{
    color: #333;
}





h3{
    color: #f1c40f;
    margin-bottom: 5px;
    font-size: 16px;
}


/* chybove hlasky */
.ok, .error, .warning{
	padding: 5px;
	font-size: 12px;
	margin: 10px 0;
    /*
    border-radius: 10px;
    -moz-border-radius: 10px;
    
    width: 50%;
    */
    
}

.ok ul, #content .error ul, #content .warning ul{
	margin-left: 30px;
    color: #363636;
    list-style: none;
}

.error{
	/*border: 1px solid #D42929;*/
	background: #FFC5C5 url('img/error.png') 10px 10px no-repeat;
}

.ok{
	/*border: 1px solid #649e00;*/
	background: #e2fcb6 url('img/success.png') 10px 10px no-repeat;
}

.warning{
	/*border: 1px solid #F57600;*/
	background: #FCEC81 url('img/warning.png') 10px 10px no-repeat;
}


.red{
    color: #D42929;
}

.green{
    color: #649e00;   
}

#content .ok ul{
    color: #649e00;
}

#content .error ul{
    color: red;
}

#content .warning ul{
    color: #F57600;
}

/* formatovani bloku ve sprave panelu */

.panely{
    width: 100%;
    display: inline;
	float: left;
    padding: 0;
    margin: 0;
    }
    
.blok-group{
	/*border: 1px solid black;*/
	margin-right: 2px;
	padding-bottom: 15px;
}

.sort-panel{
	/*background: white;*/
}

.blok-typ{
	/*font-weight: bold;*/
	font-size: 13px;
    padding: 2px;
    text-transform:uppercase;
    }

.box-items{
    /*background: white;*/
    border: 1px dashed #888;
}

#bloky .box-items{
    background: none;
    padding: 10px;
}

.blok-nazev{
    padding: 3px;
    color: #333;
	}
	
.blok-item{
	width: 95%;
    height: 35px;
	margin: 5px auto;
	/*border: 0px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
    */
	font-size: 10px;
	cursor: move;
    color: black;
	padding: 2px;
    background: white url(img2/bg3.png) top left repeat;
    border-width: 0px !important
}

.placeholder-blok{
	width: 90%;
	height: 45px;
	margin: 2%;
	border: 1px dotted #888;
	background: #333;
}


.group-header{
	padding: 15px 5px;
	/*background: #6D6D6D;*/
	color: white;
	text-align: left;
    font-size: 14px;
	font-weight: bold;
	
}
.s-diskuze .blok-typ{	color: #0035ff;}
.s-anketa .blok-typ{	color: #00a1bf;}
.s-galerie .blok-typ{	color: #bdbb00;}
.s-formular .blok-typ{color: #C9A5FF;}
.s-novinky .blok-typ{	color: #ff5f5f;}
.s-editbox .blok-typ{	color: #8800b6;}
.s-facebook .blok-typ{color: #3B5998;}
.s-vyhledavani .blok-typ{color: #693d3d;}
.s-nahodne-clanky .blok-typ, .s-nejnovejsi-clanky .blok-typ, .s-nejlepsi-clanky .blok-typ, .s-clanky .blok-typ{color: #2e9438}
.s-newsletter .blok-typ{color: #ff0096}
.s-login .blok-typ{color: #16496b}
.s-kalendar-akci .blok-typ{color: #e18e00}

#bloky .blok-item{
    /*background: #EDECEC;*/
    margin: 2px;
    float:left;
    width: 19%;
}

#bloky{
	border: none;
    float: none;
    /*background: #D4D3D3;*/
    margin-bottom: 20px;
}

#bloky .placeholder-blok{
	height: 35px;
	margin: 2px;
	border: 1px dotted #888;
	background: #333;
    float: left;
    width: 19%;
}

/* galerie obrazku */
.galerie{
	margin: 10px 0 50px 0;
    text-align: center;
}

.image_box, .image-placeholder{
	display: inline;
	position: relative;
	float: left;
	width: 165px;
	margin: 5px 2px; 	
	height: 200px;
	/*cursor: move;*/
    
}



.image_box-in{
	padding-top: 3px;
	background: white;
}

.image_box .image{
    cursor: pointer;
}

.image{
	text-align: center;
	height: 125px;
}

.image img{
	max-height: 350px;
	max-width: 350px;
}

.image_desc{
	text-align: left;
	height: 70px;
	padding: 0;
    font-size: 10px;
    padding: 3px 3px 3px 3px;
    color: #333;
	
}

.image_desc textarea{
    border: none;
    font-size: 11px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    color: #333;
    background: none;
    resize: none;
}

.image_edit{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 35px;
	width: 100%;
    /*
    background: white;
    border-bottom: 1px solid #333;
    */
    text-align: right;
}

.image_box-in.light{
    background: #fef9e7 url(img2/light.png) bottom left repeat-x;
}

.image_box.selected .image_box-in{
    background: white url(img2/selected.png) bottom left repeat-x !important;
}



.image_edit .image_icon{
    background:  #333;
    padding: 5px;
    color: white;
    margin: 0 2px;
    font-size:  16px;
}

.image_edit .move_icon{
    cursor: move;
}

.image_edit a:hover{
    background: #f1c40f;
}

.image-placeholder{

    border: 1px dotted black;
	background: #ECECEC;
    height: 198px;
}

.center{text-align: center !important;}
.relative{position: relative;}
.absolute{position: absolute;}
.block{display: block;}

.hide{display: none;}
.bold{font-weight: bold;}
.top{top: 0;}
.left{left: 0;}
.right-15{right: 15px;}
.bottom{bottom: 0;}
.right{right: 0;}

.f-left{float: left;}
.f-right{float: right;}

.t-right, .tright{text-align: right !important;}
.t-left, .tleft{text-align: left !important;}


.hloubka{
    height: 12px;
    line-height: 12px;
    text-align: left;
    padding: 2px 3px;
    /*background: url(img/graph_shadow.png) top left repeat-x;*/ 
    /*border: 1px solid #333;*/
    font-size: 9px;
    color: #333;
}

.hloubka0{
    width: 5px;
    background-color: #B9DDC4;
    background-color: #fffbe9;
    
}

.hloubka1{
    width: 10px;
    background-color: #FFFE90;
    background-color: #fff4ca;
}

.hloubka2{
    width: 15px;
    background-color: #FED886;
    background-color: #ffeda3;
}

.hloubka3{
    width: 20px;
    background-color: #B8E7FD;
    background-color: #fee47b;
}

.hloubka4{
    width: 25px;
    background-color: #CEE9D6;
    background-color: #ffdd53;
}

.hloubka5{
    width: 30px;
    /*background-color: #CEE9D6;*/
    background-color: #ffcc00;
}


/*sitemap v administraci stranek */
.tree-menu{
    margin: 2px 0;
    padding: 30px 0;
    color: white;
}


.tree-menu ol li b, .tree-menu ol ol ol li b{
    background: #FAFEBD;
}

.tree-menu li b, .tree-menu ol ol li b, .tree-menu ol ol ol ol li b{
    background: #F7FF7A;
}

.tree-menu li{
    padding: 5px;
    cursor: move;
}

.tree-menu ol{
    margin: 5px 0;
}

.tree-menu, .tree-menu ol{
    
    padding-left: 40px;
    font-size: 0.93em;
}

.tree-menu span{
    float: left;
    cursor: pointer;
}

.tree-menu b{
    width: 100px;
    cursor: pointer;
    line-height: 23px;
    padding: 7px 10px;
    border: 1px solid #D2D86A;
    cursor: move;
    color: #363636;
}

.li-placeholder{
	border: dashed 1px #ccc;
	background-color: white;
	height: 30px;
}


/* login info panel */
.loginInfoPanel{
    position: absolute;
    bottom:  0px;
    right: 20px;
    text-align: right;
    
    font-weight: bold;
}

.loginInfoPanel p{
    color: #dfdfde; 
}

.loginInfoPanel a{
    line-height: 40px;
    display: block;
    height: 40px;
    padding-right: 32px;
    background: url(img/domain-logged.png) center right no-repeat;
}



img.progress{
    width: 60px;
}

.loader{
    background: url("img/loader.gif") center 40px no-repeat;
    height: 60px;
    color: #DEDEDD;
    text-align: center;
    padding: 15px 0;
}

.statistic-loader.loader{
    background-color: white;
    color: #6D6D6D;
}

.dataTables_paginate{
    margin:  10px 0 ;
    float: left;
}

.dataTables_paginate a:hover{
    background: #f1c40f;  
}

.dataTables_paginate .paginate_button, .dataTables_paginate .paginate_active
{
    padding: 4px;
    font-size: 11px;
    color: white;
    cursor: pointer;
    background: #333;
    margin: 0 1px 0 0;

}

.dataTables_paginate .paginate_active
{
    color: white;
    font-weight: bold;
    background: #f1c40f;
}

.dataTables_paginate .paginate_button_disabled
{
    color: white;
    background: none !important;
    cursor: auto;
    display: none;
    
}

.dataTables_processing{
    padding: 7px 5px 7px 50px;
    margin: 5px 0;
    width: 140px;
    border: 1px solid gray;
    background: #f3ffb7 url(img/ajax-loader.gif) center left no-repeat;
}

.dataTables_info{
    color: #DEDEDD;
    font-size: 11px;
    margin: 5px 0;
    float: right;
}

.we-tools-content .dataTables_info{
    color: #363636
}

.dataTables_empty{
    vertical-align: middle;
}

table.dataTable thead th.sorting, table.dataTable th.sorting_desc, table.dataTable th.sorting_asc{
    cursor: pointer;
}

table.dataTable th.sorting_desc span{
    background: url(img/sipky_desc.png) no-repeat 5px center;
    padding-left: 25px; 
}


table.dataTable th.sorting_asc span{
    background: url(img/sipky_asc.png) no-repeat 5px center;
    padding-left: 25px; 
}

table.dataTable th.sorting span{
    background: url(img/sipky.png) no-repeat 5px center;
    padding-left: 25px; 
}

table.dataTable td.sorting_1
{
    font-weight: bold;   
}

.dataTables_length, .dataTables_filter, .dataTables_processing
            {display: none;}


tr.zvyrazni_radek{
    background: #f8fed5;
    border: 1px solid gray;
}

table.table tr.posledni_radek{
    border-bottom: 1px solid black;
}

a.play{
    padding: 1px 9px;
    background: url(img/play-mini.png) top left no-repeat;
}

a.playDown{
    background: url(img/play-mini2.png) top left no-repeat;
}

#seznamDomen, #seznamJazyku
{
    background: white;
    padding: 5px 5px 10px 5px;
    border: 1px solid gray;
}

#seznamDomen a, #seznamDomen a{
    color: #1B1B1B;
}

.tleft{
    text-align: left;
}  
.tright{
    text-align: right;
}


.graf1_polozka input{
    height: 20px;
}

/* ukazatel prubehu */
.selected{
    /*background: yellow !important;*/
}
a.nahled_obrazku{
    float: left;
    cursor: pointer; 
    font-size: 0;
    margin: 1px;
}

a.nahled_obrazku:hover{
    background: #efefef;
}

a.nahled_obrazku img{
    height: 55px;
    padding: 3px;
}


#upload .ukazatel_prubehu_kopirovani span.fa{
    font-size: 30px;
    padding-top: 10px;
    padding-right: 10px;
}

#upload .ukazatel_prubehu_kopirovani p{
    padding: 5px;
    line-height: 30px;
}

#upload .ukazatel_prubehu_kopirovani{
    border: 1px dashed white;
}

#upload .ukazatel_prubehu_kopirovani:hover{
    border-color: #f1c40f;
    cursor: pointer;
}

#btnUpload{
    display: none;
}




.progressBar {
	width: 200px;
	height: 22px;
	border: 1px solid #4a4a4a;
	overflow: hidden;
	display:inline-block;
	margin:0px 10px 5px 5px;
	vertical-align:top;
    background: #f5feeb url(img/graph_shadow1.png) top left repeat-x;
}

.progressBar div {
	height: 100%;
	color: #333;
	text-align: right;
	line-height: 22px; /* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #bdff6e; 
}
.statusbar
{
	min-height:25px;
	width:700px;
	padding:10px 10px 0px 10px;
	vertical-align:top;
}

.filename
{
    display:inline-block;
    vertical-align:top;
    width:250px;
}

.filesize
{
    display:inline-block;
    vertical-align:top;
    width:100px;
    margin-left:10px;
    margin-right:5px;
}
#upload .tlacitko .abort{
	
	color:#fff;
	padding:4px;
	cursor:pointer;
    line-height: 16px;
    
	}

#upload .tlacitko{
    height: auto;
    display:inline-block !important;
    float: none;
}




















#ukazatel_prubehu_kopirovani .krok{
    line-height: 40px;

}

#ukazatel_prubehu, #ukazatel_prubehu_kopirovani, .ukazatel_prubehu, .ukazatel_prubehu_kopirovani{
    margin: 0 2px;
    float: right;
    width: 300px;
    padding: 2px 10px 7px 10px;
    background: url(img2/bg.png) top left repeat;
    border: 1px solid black;
}

.ukazatel_prubehu, .ukazatel_prubehu_kopirovani{
    float: none;
}

#ukazatel_prubehu_kopirovani, .ukazatel_prubehu_kopirovani{
    width: 98%;
}

#stav_kontroly_start, .stav_kontroly_start{
    padding: 5px 0;
    font-size: 12px;
}

#stav_kontroly_start a, #stav_kontroly_dokonceno a, .stav_kontroly_start a, .stav_kontroly_dokonceno a{
    color: #DEDEDD;
}

#stav_kontroly_prubeh, .stav_kontroly_prubeh{
    display: none;
    padding: 5px 0 5px 22px;
    background: url("img/loader4.gif") left center no-repeat;
    font-size: 12px;
}

#stav_kontroly_dokonceno, .stav_kontroly_dokonceno{
    display: none;
    padding: 5px 0;
    font-size: 12px;
}

#graph_box, .graph_box{
    height:22px; 
    width: 100%; 
    border: 1px solid #4a4a4a;
    position: relative;
    background: #f5feeb url(img/graph_shadow.png) top left repeat-x;
}

#graph_kontrola, .graph_kontrola{
    height: 22px; 
    width: 0.5%; 
    background: #bdff6e url(img/graph_shadow1.png) top left repeat-x;
}

#graph_text, .graph_text{
    position: absolute; 
    top:3px; 
    right: 0;
    font-size: 12px;
    padding-right: 3px;
    color: #333;
}

#vysledek_kontroly, .vysledek_kontroly{
    font-size: 12px;
    padding: 5px 0;
    display: none;
}

/* wet seznam zaloh, nahled zalohy*/

table.tZalohy td {
    color: #333 !important;
}

table.tZalohy th{
    vertical-align: middle;
    text-align: center;
    width: auto;
    color: #888
}

table.tZalohy tr, table.tZalohy tr th{
    height: 25px;
}

.okno_zalohy .hlavicka{  
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #afafaf;  
}

.okno_zalohy  .hlavicka h3{
    font-size: 18px;
    color: #afafaf;
}

.okno_zalohy  .hlavicka p.datum{
    font-size: 12px;
    color: #afafaf;
}


.okno_zalohy  .hlavicka-podnadpis{
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.okno_zalohy  .hlavicka-podnadpis h4{
    font-size: 16px;
    color: #afafaf;
}

.okno_zalohy  a.tlacitko{
    font-size: 12px;
    color: white;
    float: right;
    padding: 6px;
    background: #333;
    text-decoration: none;
    font-weight: bold;
}

.okno_zalohy  a.tlacitko:hover{
    background: #f1c40f;

}



.okno_zalohy  p
{
    font-size: 14px;
    padding-bottom: 5px;
    line-height: 20px;
}

.okno_zalohy  div.perex{
    font-weight: bold;
    padding-bottom: 10px;
    
}


/* tlacitka */
.mini-button{
    border: 1px solid #363636;
    color: #363636;
    padding: 2px;
    background: #DEDEDD;
    cursor: pointer;
}

.mini-btn{
    color: white;
    padding: 2px;
    background: #222222;
    padding: 5px;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.mini-btn:hover{
    background: #f1c40f;
}

table#tList .input, table#tList .select{
    width: 95%;
    color: #363636;
    border: 1px solid #707070;
}


/* table tPreklady tabulka v tabulce tList v prekladech webu */
table.tPreklady {width: 100%}
table.tPreklady tr{height: auto;}
table.tPreklady tr th{
    background: none;
    height: auto;
    border: none;
    font-size: 11px;
    padding: 2px;
}

table.tPreklady tr td{
    padding: 2px;
}


/* vysledky vyhledavani v obsahu */
span.search-term{
    background: #ffdf49;
}


/* tabulka pro nastaveni prav */
#tPrava img.icon{width : 20px;}

#tPrava tr td a.zapnute,
#tPrava tr td span.zapnute{
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: white;
    background: #99cb00;
    margin: 0 auto;   
    font-size: 18px;
    text-decoration: none;
}

#tPrava tr td a.vypnute,
#tPrava tr td span.vypnute{
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: white;
    background: #f25f48;
    margin: 0 auto;   
    font-size: 18px;
    text-decoration: none;
}

#tPrava tr td a.process
{
    background: url(img/loader4.gif) center center no-repeat;
    
}


.row_disconnect{
    font-size: 11px;
    height: 20px;
    line-height: 20px;
}


table#tList a.plus img.icon, 
table#tList a.minus img.icon,
table#tList span.plus_minus_none img.icon
{
    width: 15px;
}



/* dashboard - uvodni stranka cms */

#dashboard{
    margin-top: 20px;
}
/*
#dashboard *{
    color: #333;
}
*/


#dashboard .box_in{
    padding: 10px;
}

#dashboard h2{
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
    color: #363636;
}

#dashboard a{
    color: #363636;
}
#dashboard a:hover{
    color: #6D6D6D;
}

#dashboard table.tAkceUzivatelu *{
    color: #333;
}

#dashboard table.tAkceUzivatelu .fa, #dashboard table.tDiagnostika .fa{
    font-size: 1.5em;
}

#dashboard table.tAkceUzivatelu .fa{
    color: #d5d200
}

#dashboard table.tDiagnostika .fa-warning{
    color: #890000;
}

#dashboard table.tDiagnostika .fa-info{
    color: #006cff;
}

#dashboard table.tDiagnostika td{
    color: #333;
}

#dashboard table.tAkceUzivatelu, #dashboard table.tDiagnostika{
    font-size: 11px;
    line-height: 16px;
    
}

#dashboard table.tAkceUzivatelu td, #dashboard table.tDiagnostika td{
    word-wrap: break-word;
}

#dashboard table.tAkceUzivatelu img.icon, #dashboard table.tDiagnostika img.icon{
    width: 16px;

}

#dashboard table.tZakladniInformace{
    
}


#dashboard table.tZakladniInformace td.td_ikona{
    vertical-align: top;
    /*width: 45px;*/
    padding-right: 5px;
    text-align: left;
}

#dashboard table.tZakladniInformace td.user{
    /*background: url(img/icon_user_uvod.png) top left no-repeat;*/
    color: #333;
}

#dashboard table.tZakladniInformace td.web{
    /*background: url(img/icon_web_uvod.png) top left no-repeat;*/
    color: #333;
}

#dashboard table.tZakladniInformace td p{
    line-height: 20px;
    color: #363636;
    padding-right: 15px;
    font-size: 12px;
}


#dashboard .dashboard_box{
    position: relative;
    margin-bottom: 5px;
    min-height: 170px;
    cursor: move;
    border: 1px solid #333;
    background: #eee;
    
      
}

.dashboard-panel{width: 50%}
.dashboard-right{float:right;min-height: 500px;}
.dashboard-right-in{min-height: 500px;}
.dashboard-left{float:left;min-height: 500px;}
.dashboard-left-in{padding-right: 5px;min-height: 500px;}

#dashboard .loader{
    background: url("img/loader.gif") center 40px no-repeat;
    height: 60px;
    color: #363636;
    text-align: center;
    padding: 15px 0;
}

#dashboard img.icon{
    width: 20px;
}

#dashboard .placeholder{
    height: 170px;
    margin-bottom: 5px;
    background: white;
    border: 1px dotted black;
   
}

#dashboard .box_icon{
    position: absolute;
    top: 5px;
    right: 5px;
}


/* dalsi formatovani */

/* formatovani souvisejicich clanku */
.souvisejici {
    padding: 0;
    margin: 0;
    font-size: 11px;
    height: 30px;
}

.checkbox-div-in{
    padding-right: 10px;
}

.checkbox-div-in label{
    font-size: 12px;
}


/* ikony */
.icon_gallery, .icon_box{
    font-size: 20px !important;
    margin-right: 10px;
    }
    
    
.req{
    color: #f1c40f;
    /*font-size: 8px !important;*/
}

#horni-menu{
    position: absolute;
    top: 0;
    left: 0;
    background: url(img/horni-male-menu.png) top right no-repeat;
    width: 80%;
    height: 43px;
}

#horni-menu-in{
    margin-left: 10px;
    
}

#horni-menu-in div.pol{
    font-size: 11px;
    float: left;
    padding: 9px 13px;
    color: #DFDFDE;
    border-right:  1px solid #6D6D6D;
}

#horni-menu-in div.last{
    border:  none;
}

#horni-menu-in div b{
    color: #FC923C;
}



/* graf ankety v administraci - ve vypisu odpovedi */

div.anketa-graf{
    height: 20px;
    width: 250px;
    background: #ccc;
}

div.anketa-graf-hlasy{
    height: 20px;
    /*background: url("img/inquiry_graph.png") top left repeat-x;*/
}

.panel-obsah{
    padding: 2px 0;
}


/* sortable checkbox - trideni checkboxu v editaci kolotoce editboxu */
.sortable_checkbox{
    float: none;
    width: 50%;
    padding: 6px !important;
    margin: 2px 0;
    background: #eee;
    
    cursor: move;
}

.placeholder-checkbox{
	height: 25px;
	border: 1px dotted black;
	background: #ECECEC;
    width: 50%;
}

/* inputy kratke */
table.table2 input.kratky, table.table2 input.kalendar{
    width: 100px;
}


/* ---------------------------------------------------------------------------------
/* prestylovani prvku jquery UI */
/* ---------------------------------------------------------------------------------

/* bublinova napoveda */
.ui-tooltip.napoveda {
    padding: 8px;
    box-shadow: 0 0 5px black;
    line-height: 20px;
    font-size: 11px;
    background: #888;
    border: 1px solid #888;
    color: #333;
}

/* dialogove okno */
.simplemodal{
    position: fixed;
  filter: alpha(opacity=50);
  -webkit-box-shadow: 5px 5px 30px 0 black;
  -moz-box-shadow: 5px 5px 30px 0 black;
  box-shadow: 5px 5px 30px 5px black;
  color: #797979;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -khtml-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  /* ie fix */
  -pie-lazy-init: true;
  behavior: url(PIE.htc);
    } 

.okno_zalohy{
    position: static;
}

#uploaded_photos .sortable_checkbox{
    width: 90%;
}

#uploaded_photos img{
    width: 120px;
}

#uploaded_photos table{
    width: 100%;
}

#uploaded_photos table td, #uploaded_photos table th{
    vertical-align: top;
    text-align: left;
}

#uploaded_photos textarea{
    width: 100%;
    height: 60px;
}

.placeholder-uploaded-photos{
    border: 1px dashed #888;
    background: #eee;
    height: 140px;
    width: 90%;
}

.protokol{
    background: white;
    padding: 5px;
    font-size: 11px;
    margin: 5px 0;
    color: #333;
}

.photo-delete{
    margin: 10px 0 0 0 !important;
}

#uploaded_photos .sortable_checkbox{
    background: none;
    border: 1px dashed #888
}

table.table2 .priloha a{
    color: white;
    line-height: 30px;
}

table.table2 .priloha{
    height: 30px;
    line-height: 30px;
}


.iradio_minimal-yellow{
    margin: 0 5px 0 10px;
}

/* nastaveni velikosti */
.w100{width: 100%}
.h100{height: 100px;}
.h300{height: 300px;}
.h500{height: 500px;}
.h700{height: 700px;}

table.table .w25{width: 50px !important;}
table.table .w70{width: 70px !important;}
table.table .w80{width: 80px !important;}
table.table .w90{width: 90px !important;}
table.table .w110{width: 140px !important;}
table.table .w150{width: 150px !important;}
table.table .w180{width: 180px !important;}
table.table .w50{width: 50% !important}    

