.we-tools{
    /*height: 50px;*/
    width: 100%;
    /*background: #333;*/
    /*border: 1px solid #cccccc;*/
    margin-bottom: 5px;    
    
}

.we-tools-header{
    /*height: 50px;*/
    width: 100%;
    }
  
.we-tools .filter{
    background: #888;
    margin-bottom: 5px;
}
  
.we-tools-icon{
    height: 37px; 
    float: left;
    margin-right: 5px;
    background: #3c3c3c;
    
}
.we-tools-icon div{
    height: 27px; 
    padding: 5px 5px;
    cursor: pointer;
    line-height: 27px;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.we-tools-icon div span{
    font-size: 14px;
    margin-right: 8px;
}
   
/*
.we-tools-icon.icon_pdf div{
    background: url(img/pdf_icon.png) 10px center no-repeat;  
}
.we-tools-icon.icon_maps div{
    background: url(img/maps_icon.png) 10px center no-repeat;  
}
.we-tools-icon.icon_lang div{
    background: url(img/lang_icon.png) 10px center no-repeat;  
}
.we-tools-icon.icon_rescure div{
    background: url(img/rescure_icon.png) 10px center no-repeat;  
}
*/

.we-tools-content{
    /*background: #333 url(img2/light.png) top left repeat-y;*/
    background: #333;
    padding: 15px;
    display: none;
}

.we-tools-content .filter{
    background: #3c3c3c;
}

.we-tools-active, .we-tools-icon.active{
    /*background: url(img/we-tools-bg-active.png) repeat-x bottom;*/
    background: #f1c40f;
}

.we-tools-content-header{
    color: black;
    font-weight: bold;
    font-size: 12px;
    height:20px;
    padding:  10px;
    margin: 10px 0;
    background: #cacaca;
}


.we-table{
    width: 500px;
    background: #3c3c3c;
}

.we-table a{
    background: none repeat scroll 0 0 #333;
    color: white !important;
    cursor: pointer;
    font-size: 12px;
    line-height: 40px;
    padding: 6px;
    text-decoration: none;
}

.we-table a:hover{
    background: #f1c40f
}

.we-table th{
    width: 100px;
    font-size: 11px;
    background: none;
    font-weight: normal;
    }
    
.we-table td, .we-table th{
    vertical-align: middle;
    border: 0;
    }

.we-input.input{
    width: 200px;
}

.we-input input{
    width: 90%;
    height: 20px;
    color: #333;
    padding: 5px
}

.we-input select{
    padding: 5px;
}

#content .we-tools .we-input .radio, #content .we-tools .we-tools .radio{
    width: 15px;
    height: auto;
    margin: 0 5px 0 0;
}

.we-button{width: 50px;}

.we-tools-content p{
    font-size: 12px;
}

#maps-zoom{
    width: 90%;
}

#content .we-tools .we-tools-content p{
    color: white;
    font-size: 11px;
}

.we-tools textarea{
    width: 100%;
    height: 100px;
}

.we-tools .w50
{
    width: 50%
}

