			/* Demo css for jQuery form builder plugin */
            
            
/*a, body { font-family: "Tahoma", "Verdana", sans-serif; font-size: 12px; }*/

#form-builder{list-style: none;}
#form-builder a{font-size: 10px;}

#form-wrap { width: 600px; }
#form-builder li { background-color: #FFF497; border: 1px solid gray; margin-bottom: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 50%; padding:  10px;}
#form-builder .legend { padding: 5px;}
#form-builder .legend img{margin: 0 10px 0 5px;}
.field_control { margin-left: 40px; }
.frm-elements { background-color: #FFF497; margin: 0 4px 4px 4px; padding: 9px; }
.frm-elements label { width: 120px; float: left; margin: 0 15px; line-height: 24px; }
.frm-elements .false-label { width: 120px; float: left; margin: 0 15px; line-height: 24px; }
.frm-elements input[type=text] { float: left; width: 220px; border: 1px solid #707070;
    color: #404040;}
.frm-elements .fields {  float: left; }
.frm-elements .fields input[type=checkbox], .frm-elements .fields input[type=radio] { float: left; margin: 5px 10px 0 0; }
.frm-elements .fields input[type=text],  { width: 220px; margin-top: 0; }
.frm-elements  textarea{width: 280px; margin-top: 0; height: 100px;}

#form-builder .radio, #form-builder .checkbox{
    margin: 0;
    margin-bottom: 5px;
} 

.frm-elements .false-label, .frm-elements .fields { margin-top: 10px; }
.frm-elements .fields div { clear: both; float: left; width: 270px; margin-bottom: 5px; }
.frm-elements .fields label.auto { width: auto; margin: 0 0 5px 0; }
.frm-elements .fields .remove { float: right; }
.frm-elements .fields .add-area { width: 270px; margin-top: 5px; border-top: 1px solid rgba(255,255,255,0.125); }
.frm-elements .fields .add-area .add { clear: both; float: right; }
.frm-elements:after, .frm-fld:after  {content:".";display:block;height:0;clear:both;visibility:hidden;}
.frm-elements, .frm-fld {display:inline-block;}
.frm-elements, .frm-fld {display:block;}
.del-button { padding: 5px 0 10px 15px; display:block; clear:both; width: 50px; }
#form-builder .legend strong{
    line-height: 30px;
}

#form-builder a.toggle-form, 
#form-builder .del-button{
    color: #2f2f2f;
}